body {
	background-color: lightblue;
}
h1 {
	font-family: arial;
}
p {
	font-family: arial;
	font-size: 14px;
}
table {
	background-color: #FFFFFF;
}
.fila1 {
	font-family: verdana;
}
.filadatos {
	font-family: arial;
	font-size: 12px;
}
.par {
	background-color: #FFFFA8;
}
.impar {
	background-color: #A8FFFF;
}