
#cover{
    background: #222 url(../img/fondo2.jpg) center no-repeat;
    background-size: 100%;
    color: white;
    height: 100%;
    text-align: left;
    display: flex;
    align-items: center;
}

#cover-texto{
    width: 100%;
}
form{
    float: left;
}


#lista{
   
    margin: 0px;
  
}
.navbar-brand{
 width: 50px;
}
.col-1{
    margin: 0px;
    padding: 0px;
}

.col-11{
    margin: 0px;
    padding: 0px;
}
.col{
    align-items: center;
}

