    .grid{
        display: grid;
        grid-template-areas: "header header" 
        "nav nav" 
        "section aside"
        "aside2 aside2"
        "foot foot ";
        grid-template-columns: 5fr 1fr;
        grid-template-rows: 110px 36px 380px 140px 40px;       
    }
    header{
    grid-area: header;
    background-color: rgb(255, 255, 255);  
    }
    
    nav{
        grid-area: nav;
        background-color: rgb(0, 0, 0);
    }
    #navegador{
        background-color: black;
        color: white;
        height: 36px;
        width: 250px;
        float: left;
        font-size: 17px;
        font-family:helvetica;
        border-style: hidden;
    }
    section{
        grid-area: section;
        background-color: rgb(255, 255, 255);
        font-size: 8px;
        font-family: helvetica;
        color: rgb(133, 133, 133);
        padding-left: 20px;
    }
    
    aside{
        grid-area: aside;
        background-color: rgb(250, 230, 195);;
    }

    footer{
        grid-area: foot;
        background-color: rgb(0, 0, 0);
    }

    #aside2{
        grid-area: aside2;
        background-color: rgb(248, 217, 159);   
    }

    #logo{
         float: left;
        width: 100px;
        height: 100px;
        padding-right: 20px;
        padding-left:10px ;
     }
     #pie{
        color: white;
        text-align: center;
     }

    #logeo{
        float: right;
        color: black;
        font-size: x-large;
     }

     #cuadro01,#cuadro02{
        background-color: rgb(248, 217, 159);
        margin: 24px;      
        color: black;
        font-size: 19px;
        font-family: helvetica;
    }
    #icono4{
        width: 125px;
        height: 125px;
        float: left;
        padding: 5px;
        margin: 10px;
    }
    #datos_personales,#mejor_pelicula,#seleccion_peliculas{
        background-color: blanchedalmond;
    }
    #enlaces{
        padding-left: 50px;
        padding-right: 50px;
        float: left;
        font-size:15px;
        font-family: helvetica;
    }
    h1,h2,h3,h4{
        font-family: helvetica;
    }
    #iconoA{
        width: 35px;
        height:35px;
        float: right;
        padding: 2px;
        margin: 2px;
        padding-right: 10px;
    }
    #iconoB{
        width: 35px;
        height:35px;
        float: left;
        padding: 2px;
        margin: 4px;
        padding-right: 0px;
    }
  